




   <div class="foot-codeinfo">
       <div class="container">
            <div class="row">
                    <!-------------About--------------------->
                    <div class="col-md-4">
                            <div class="margins">
                        <h5>About Us</h5>
                        <p>Efficient elegant designed mobile templates for startups, developers, entrepreneurs & mores.</p>
                    </div>
                    
                    </div>
                    <!--------------------------------our products------------------------------------------->
                    <div class="col-md-2">
                        
                            <h5>Our Products</h5>
                            
                                    <li><a href="#!">Home InspireUI</a></li>
                                    <li><a href="#!">SpotUI</a></li>
                                    <li><a href="products"> Our products</a></li>
                                    <li><a href="#!">Appstore (iOS)</a></li>
                                 <!----   <li><a href="#!">Google Play (Android)</a></li>-->
                              
                        
                    </div>
                    <div class="margins-pro"></div>
                    <!---------------------------need help----------------------------------------------------------->
                    <div class="col-md-2">
                          
                                <h5>Need Help</h5>
                                
                              
                                        <li><a href="#!">Service</a></li>
                                        <li><a href="#!">Terms of Service</a></li>
                                        <li><a href="#!"> Privacy Policy</a></li>
                                        <li><a href="#!">Blogs</a></li>
                                     <!----   <li><a href="#!">Google Play (Android)</a></li>-->
                                  
                             
                        </div>
                       
                        <!---------------------------Get in Touch---------------------------------------------------------------->
                    <div class="col-md-4">
                       
                            <h5>Get In Touch</h5>
                           
                                <input type="text" class="txt-name" placeholder="  Name">
                                <input type="email" class="in-em" placeholder="  Email ID">
                                
                                    <textarea class="txt-mess" placeholder=" Message"></textarea>
                               <div class="btn-cnnt"><button type="button" class="send-btn">SEND</button></div> 
                       
                        
                        
                        
                    </div>
                    
               
                    </div>
       </div>
    
   </div>

