<div class="cnt">
    <div class="container">
    <div class="head-cnt">
    <h3>CONTACT<b> US</b></h3> 
    <hr>
    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
</div>
<div class="cnt-det">
    <input type="text" class="txt-left" placeholder=" First Name">
    <input type="text" class="txt-right" placeholder=" Second Name"><br>
    <input type="email" class="txt-left" placeholder=" Email ID">
    <input type="text" class="txt-right" placeholder=" Phone Number">
  
  <select class="form-control" id="sel1">
        <option >I am interested</option>
        <option></option>
        <option></option>
        <option></option>
    </select>
    <textarea class="mess-txt" placeholder=" Type Your Message"></textarea>
    
</div>
<div class="btn"><button class="send-mail">SEND</button></div>

   
   </div>
</div>

