<div class="pro-main">
    
        <div class="banner-color">
            <div class="container">
                <div class="ban-sun">
                    <div class="sun-det">
                <h3>The Sun has <b>Risen</b></h3>
                <hr>
                <p>Opt For Technically Advanced And High-End Products</p>
                <div class="decl">
                        <p>Obtaining effectual, technological solutions from Techware Solution will make your life
                             easier. We provide a flexible and wide range of products and services helping your
                              business objectives and expectation into its peak..</p>
                    </div>
            </div>
                
                </div>
                
                
        </div>
        </div>
      <!---------------------------pro Tab----------------------------------> 
      <div class="products-det">
      <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <nav>
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                      <div class="tab-set">

                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-alla" aria-selected="true">All</a>
                    </div>
                    <div class="tab-set">        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-web" aria-selected="false">Web</a>
                    </div>
                      <div class="tab-set">      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-app" aria-selected="false">App</a>


                  </div>
                  </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="alval">
                      <div class="row">
                      <div class="col-md-6 ">
                        <div class="img-cls">
                        <img src="../../../assets/images/asset_poster_one.png">
                      </div>
                      </div>  
                     <div class="col-md-6 ">
                        <div class="txt-cls">
                           <img class="logo-im" src="../../../assets/images/cabok-log.png">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                 1500s, when an unknown printer took a galley of type </p>
                                 <div class="btn-mor"><button class="btn-cab">VIEW MORE</button></div>
                      </div>
                      </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6 ">
                        <div class="txt-cls-l">
                          <img src="../../../assets/images/bokdoc-logo.png">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                              1500s, when an unknown printer took a galley of type </p>
                              <div class="btn-mor"><button class="btn-doc">VIEW MORE</button></div>
                      </div>
                     </div>
                      <div class="col-md-6 ">
                          <div class="img-cls-l">
                        <img src="../../../assets/images/asset_poster_two.png">
                      </div>
                      </div>
                  </div>
                  <div class="row">
                     
                      <div class="col-md-6 ">
                          <div class="img-cls">
                        <img src="../../../assets/images/asset_poster_four.png">
                      </div>  
                      </div>
                    <div class="col-md-6 ">
                        <div class="txt-cls">
                            <img  src="../../../assets/images/mom-logo.png">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                 1500s, when an unknown printer took a galley of type </p>
                                 <div class="btn-mor"><button class="btn-mom">VIEW MORE</button></div>
                      </div>
                      </div>
                  </div>
                  <div class="row">
                  <div class="col-md-6 ">
                      <div class="txt-cls-l">
                          <img src="../../../assets/images/finepay-logo.png">
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                              1500s, when an unknown printer took a galley of type </p>
                              <div class="btn-mor"><button class="btn-fpay">VIEW MORE</button></div>
                      </div>
                  </div>
                      <div class="col-md-6 im-txt">
                          <div class="img-cls-l">
                        <img src="../../../assets/images/finepay.png">
                      </div>
                      </div>
                  </div>
                  </div>
                </div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <div class="alval">
                          <div class="row">
                          <div class="col-md-6 ">
                            <div class="img-cls">
                            <img src="../../../assets/images/asset_poster_one.png">
                          </div>
                          </div>  
                         <div class="col-md-6 ">
                            <div class="txt-cls">
                               <img class="logo-im" src="../../../assets/images/cabok-log.png">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                     1500s, when an unknown printer took a galley of type </p>
                                     <div class="btn-mor"><button class="btn-cab">VIEW MORE</button></div>
                          </div>
                          </div>
                      </div>
                      <div class="row">
                         <div class="col-md-6 ">
                            <div class="txt-cls-l">
                              <img src="../../../assets/images/bokdoc-logo.png">
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                  1500s, when an unknown printer took a galley of type </p>
                                  <div class="btn-mor"><button class="btn-doc">VIEW MORE</button></div>
                          </div>
                         </div>
                          <div class="col-md-6 ">
                              <div class="img-cls-l">
                            <img src="../../../assets/images/asset_poster_two.png">
                          </div>
                          </div>
                      </div>
                      <div class="row">
                         
                          <div class="col-md-6 ">
                              <div class="img-cls">
                            <img src="../../../assets/images/asset_poster_four.png">
                          </div>  
                          </div>
                        <div class="col-md-6 ">
                            <div class="txt-cls">
                                <img  src="../../../assets/images/mom-logo.png">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                     1500s, when an unknown printer took a galley of type </p>
                                     <div class="btn-mor"><button class="btn-mom">VIEW MORE</button></div>
                          </div>
                          </div>
                      </div>
                      <div class="row">
                      <div class="col-md-6 ">
                          <div class="txt-cls-l">
                              <img src="../../../assets/images/finepay-logo.png">
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                  1500s, when an unknown printer took a galley of type </p>
                                  <div class="btn-mor"><button class="btn-fpay">VIEW MORE</button></div>
                          </div>
                      </div>
                          <div class="col-md-6 im-txt">
                              <div class="img-cls-l">
                            <img src="../../../assets/images/finepay.png">
                          </div>
                          </div>
                      </div>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                      <div class="alval">
                          <div class="row">
                          <div class="col-md-6 ">
                            <div class="img-cls">
                            <img src="../../../assets/images/asset_poster_one.png">
                          </div>
                          </div>  
                         <div class="col-md-6 ">
                            <div class="txt-cls">
                               <img class="logo-im" src="../../../assets/images/cabok-log.png">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                     1500s, when an unknown printer took a galley of type </p>
                                     <div class="btn-mor"><button class="btn-cab">VIEW MORE</button></div>
                          </div>
                          </div>
                      </div>
                      <div class="row">
                         <div class="col-md-6 ">
                            <div class="txt-cls-l">
                              <img src="../../../assets/images/bokdoc-logo.png">
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                  1500s, when an unknown printer took a galley of type </p>
                                  <div class="btn-mor"><button class="btn-doc">VIEW MORE</button></div>
                          </div>
                         </div>
                          <div class="col-md-6 ">
                              <div class="img-cls-l">
                            <img src="../../../assets/images/asset_poster_two.png">
                          </div>
                          </div>
                      </div>
                      <div class="row">
                         
                          <div class="col-md-6 ">
                              <div class="img-cls">
                            <img src="../../../assets/images/asset_poster_four.png">
                          </div>  
                          </div>
                        <div class="col-md-6 ">
                            <div class="txt-cls">
                                <img  src="../../../assets/images/mom-logo.png">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                     1500s, when an unknown printer took a galley of type </p>
                                     <div class="btn-mor"><button class="btn-mom">VIEW MORE</button></div>
                          </div>
                          </div>
                      </div>
                      <div class="row">
                      <div class="col-md-6 ">
                          <div class="txt-cls-l">
                              <img src="../../../assets/images/finepay-logo.png">
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                  1500s, when an unknown printer took a galley of type </p>
                                  <div class="btn-mor"><button class="btn-fpay">VIEW MORE</button></div>
                          </div>
                      </div>
                          <div class="col-md-6 im-txt">
                              <div class="img-cls-l">
                            <img src="../../../assets/images/finepay.png">
                          </div>
                          </div>
                      </div>
                      </div>
                  </div>
  
                </div>
              
              </div>
            </div>
      </div>

    </div>
</div>